* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 30px;
  text-align: justify;
  color: white;
  height: 100%;
}

nav {
  top:0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(46, 25, 42, 0.616);
}

div.left, div.right {
  width: 20%;
  text-align: center;
}

div.main {
  width: 60%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li a {
  text-decoration: none;
  text-align: center;
  float: left;
  display: block;
  padding: 25px;
  width: 20%;
  color: rgb(124, 112, 128)
}

li a:hover {
  background-color: rgb(81, 73, 83);
  color: rgb(34, 12, 34);
}


li#target {
  float: left;
  display: block;
  width: 20%;
  height: 70px;
  text-align: center;
}

img.logo {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1; 
}

img.logo:active {
  transform: scaleY(2);
}

img.onLogo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 1;
  width: 40px;
  animation: trans 1.5s linear infinite;
}

@keyframes trans {
  0% { transform: translateY(0); opacity: 1;}
  50% { transform: translateY(45px); opacity: 0;}
  100% { transform: translateY(0); opacity: 0;}
}

div.bg-container {
  position: relative;
  height: 100%;
  width: 100%;
}

div.bg {
  top:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(88, 61, 88);
  opacity: 0.5;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

div.cover {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p#date {
  padding: 20px;
  color: rgb(243, 180, 224);
}

div.header {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 65px;
  padding: 20px;
  text-align: center;
}

button#click {
  background-color: rgb(145, 95, 145);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 20px;
}

#click p {
  padding: 10px;
  text-align: center;
}

button#click:disabled {
  color: rgb(44, 11, 44);
}

.cover p {
  padding: 25px 0px 15px 0px;
  font-size: 14px;
}

.cover input {
  border: none;
  font-size: 20px;
  border-radius: 25px 0px 0px 25px;
  padding: 10px 20px;
  filter: brightness(0.8);
}

.cover input:focus {
  box-shadow: -2px 0px 5px 2px  plum;
}

button#sub {
  border: none;
  font-size: 20px;
  border-radius: 0px 25px 25px 0px;
  padding: 10px 20px;
  background-color: rgb(44, 11, 44);
  color: rgb(145, 95, 145);
}

button#sub:hover {
  background-color: rgb(145, 95, 145);
  color: rgb(44, 11, 44);
}

div.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  background-color: black;
  padding: 20px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
  justify-content: center;
  align-items: center;
}

article h2 {
  width: 100%;
  padding: 10px;
}

div#paragraph {
  width: 60%;
  align-self: center;
  text-align: justify;
  word-wrap: break-word;
}

article p {
  padding: 10px;
}

article a {
  text-decoration: none;
  color: antiquewhite;
}

hr {
  border: 0.5px solid rgba(128, 128, 128, 0.247);
  filter: drop-shadow(0px -5px 10px gray);
}

section {
  top: 0;
  max-width: 100%;
  background-color: rgba(66, 34, 95);
  color: aliceblue;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

div.hr {
  width: 100%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(39, 25, 39, 0.432), rgb(145, 20, 145), rgba(39, 25, 39, 0.445)) 1; /*impo*/
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section h2 {
  position: absolute;
  text-align: center;
  width: 30%;
  background-color: rgba(66, 34, 95);
}


div.grid-1 {
  text-align: start;
  display: inline-block;
  flex: 1;
  width: 50%;
  padding: 25px;
}
/**************************/

div.grid-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

div.card-1  {
  width: 25%;
  margin: 10px;
  height: 200px;
  text-align: center;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

div.card-1:hover .cover-img{
  opacity: 1;
}

.card-1 img {
  display: block;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(155, 108, 155);
  padding: 5px;
  border-radius: 50px;
}

div.cover-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in;
}

.card-1 p {
  padding: 10px;
}

footer {
  max-width: 100%;
  background-color: rgba(66, 34, 95, 0.473);
  padding: 15px;
  bottom: 0;
  display: block;
}

@media screen and (max-width: 1300px) {
  div.left, div.right {
    width: 10%;
  }
  div.main {
    width: 80%;
  }
}

@media screen and (max-width:1000px) {
  div.left, div.right {
    display: none;
  }
  div.main {
    width: 100%;
  }
  li a {
    width: 25%;
  }
  li#target {
    display: none;
  }
  section h2 {
    width: 50%;
  }
  div#paragraph {
    width: 80%;
  }
  div.card-1 {
    width: 30%;
    height: 150px;
  }
}

@media screen and (max-width: 600px){
  li a {
    float: none;
    display: block;
    width: 100%;
  }

  section {
    flex-direction: column;
  }

  div.grid-1 {
    width: 100%;
    text-align: center;
  }

  div#paragraph {
    width: 100%;
  }

  section h2 {
    width: 70%;
  }

  div.card-1 {
    height: 150px;
    width: 35%;
  }

  .cover input, button#sub {
    font-size: 10px;
    padding: 2px 8px;
  }

  div.cover {
    padding: 0px;
  }
  
  p#date {
    padding: 5px;
    font-size: 10px;
  }

  .header h1 {
    padding: 5px;
    font-size: 35px;
  }

  button#click {
    font-size: 10px;
  }

  #click p, .cover p {
    padding: 5px;
    font-size: 10px; 
   }
}

@media screen and (max-width: 400px) {
  div.card-1 {
    height: 150px;
    width: 50%;
  }

  .cover input, button#sub {
    font-size: 5px;
    padding: 1px 5px;
  }

  p#date {
    padding: 0;
    font-size: 5px;
  }

  .header h1 {
    padding: 0;
    font-size: 25px;
  }

  button#click {
    font-size: 5px;
  }

  #click p, .cover p {
    padding: 0px;
    font-size: 5px;
  }
}